**/.git
**/.gitignore
**/.vs
**/.vscode
**/.idea
**/*.user
**/*.suo
**/*.cache
**/bin
**/obj
**/node_modules
**/coverage
**/.coverage
**/TestResults
**/tests
**/docs
**/scripts
**/.env
**/.env.*
!**/.env.example
**/frontend-mock
**/infra
**/*.md
!**/README.md
**/Dockerfile
**/.dockerignore
**/docker-compose*.yml
**/.github
